
<h3>スケジュール一覧</h3>

<% if flash.notice %>
 <p class="notice"><%=flash.notice %></p>
<% end %>

<table>
    <thead>
       <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>終日</th>
        <!--<th>スケジュールメモ</th>-->
        <th>スケジュール更新日</th>
        <th>確認</th>
        <th>編集</th>
        <th>削除</th>
       </tr>
    </thead>
    
    <tbody>
        <% @tasks.each do |task| %>
         <tr>
             <td><%=task.id %></td>
             <td><%=task.title %></td>
             <td><%=task.start_date %></td>
             <td><%=task.end_date %></td>
             <td>
              <% if task.all_day == 1 %>
              ○
              <% else task.all_day == 0 %>
              
              <% end %>
             </td>
             <!--<td><rails % task.memo %></td>-->
             <td><%=task.updated_at.to_s(:datetime_jp) %></td>
             <td>
              <%=link_to "確認",task %>
             </td>
             <td>
              <%=link_to "編集",[:edit,task] %>
             </td>
             <td>
              <%=link_to "削除",task, method: :delete, data:{confirm:"本当に削除しますか？"} %>
             </td>
         </tr>
        <% end %>
    </tbody>
</table>

<h5><%=link_to"スケジュール新規登録",:new_task %></h5>
